* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', sans-serif; font-size: 1em; font-weight: 400;
    background-color: #F3E9DE;
    color: #256993;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.notesheader {
    font-family: 'montserrat', sans-serif; font-size: 2.5em; font-weight: 600;
    text-align: center;
    color: #256993
}

nav {
    display: flex;
    justify-content: flex-end;
}

.linkage {
    padding: 5px;
}

.main{
    display: flex;
    flex-direction:column;
    padding: 10px;
}

.notes{
    background-color: #FAF4EC;
    display: flex;
    flex-direction: column;
}

.noteslist{
    margin-left: 24px;
}

.mainlist {
    display: flex;
    justify-content: right;
    list-style-type: none;   
}

.mainlist > li {
    justify-content: space-around;
}

.textwrapper {
    padding: 10px; 
    margin: 15px 0; 
}

textarea {
    border-style: bold solid;
    border-color: #256993;
    width: 100%;
    padding: 12px 18px;
    border-radius: 3px;
    margin: 24px 0;
}

.newnote {
    font-family: 'montserrat', sans-serif; font-size: 0.75em; font-weight: normal;
    background-color: #375F68;
    border-radius: 8px;
    color: white; 
    padding: 10px;
}

.theme {
    font-family: 'montserrat', sans-serif; font-size: 0.75em; font-weight: normal;
    background-color: #56536A;
    border-radius: 8px;
    color: white; 
    padding: 10px;
}

.save {
    font-family: 'montserrat', sans-serif; font-size: 0.75em; font-weight: normal;
    background-color: #375F68;
    border-radius: 8px;
    color: white; 
    padding: 10px;
    display: flex;
}

.cancel {
    font-family: 'montserrat', sans-serif; font-size: 0.75em; font-weight: normal;
    background-color: #9B332C;
    border-radius: 8px;
    color: white; 
    padding: 10px;
    display: flex;
}

.topbutton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottombutton {
    display: flex;
    justify-content: right;
}

footer {
    text-align: center;
    margin-top: auto;;
}

@media (max-width: 768px) {
    body{ grid-template-columns: 1fr;
    }

    .notes {
        order: 1;
    }

    .main {
        order: 2;
    }
}
