* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', sans-serif; font-size: 1em; font-weight: 400;
    background-color: #F3E9DE;
    color: #256993;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.notesheader {
    font-family: 'montserrat', sans-serif; font-size: 2.5em; font-weight: 600;
    text-align: center;
    color: #256993
}

nav {
    display: flex;
    justify-content: flex-end;
}

.linkage {
    padding: 5px;
}

.main{
    display: flex;
    flex-direction:column;
    padding: 10px;
}

.notes{
    background-color: #FAF4EC;
    display: flex;
    flex-direction: column;
}